@import "tailwindcss";


@layer utilities {
  .scrollbar-hide {
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: 
    none; /* Chrome, Safari, and Opera */
  }
}

html {
  scroll-behavior: smooth;
}
